body{
    font-family: Raleway; 
}

#map {
    height:400px;
    width:100%;
}

.dropdown-toggle{
    width: 60%;
    text-align: left;
}

.sidebar{
    text-align: center;
}

.dc-chart g.row text {
    fill: #12110A;
    font-size:1.0em;
}

#age svg g g.axis.y {
   
    display: none;
}

.x-axis-label{
    font-size:0.9em;
}

.dc-chart .pie-slice {
    fill:black;
    font-size:0.9em;
}

.hdx-3w-info{
    background-color:white;
    font-size:1.0em;
}