body, h1, h2, h3, h4, h5, h6 {
    font-family: 'Source Sans Pro', sans-serif;
}

h1 {
    font-size: 24px;
}

h4 {
    color: #222;
    font-size: 16px;
}

body{
    margin: 20px 0;
    font-size: 14px;
}

a {
    color: #F2645A;
    text-decoration: underline;
}

a:hover {
    color: #F2645A;
}

.viz-container {
    display: none;
}

.description{
    font-size: 14px;
    margin-bottom: 20px;
}

.reset {
    padding-left: 20px;
}

#map {
    height: 400px;
    width: 100%;
    margin-bottom: 7px;
    margin-top: 10px;
}

.surveySelectionMenu{
    width: 60%;
    height: 40px;
    font-size: 1.2em;
    margin-bottom: 20px;
}

.sidebar{
    text-align: center;
}

.main-content {
    border-left: 1px solid #e5e5e5;
}

.dc-chart g.row text {
    dominant-baseline: middle;
    fill: #333;
    font-size: 12px;
}

#age svg g g.axis.y {
    display: none;
}

#age svg g g.axis.x text {
    text-anchor: end !important;
    transform: rotate(-45deg);
}

.pull-right {
    font-size: 14px;
    color: #F2645A;
}
.x-axis-label{
    font-size: 0.9em;
    display: none;
}

.dc-chart .pie-slice {
    fill: black;
    font-size:0.9em;
}

.hdx-3w-info{
    background-color: white;
    font-size: 1.5em;
}

.surveycharts > div {
    min-height: 270px;
}

.d3-tip {
    padding: 5px;
    background-color: white;
    background: rgba(255,255,255,0.9);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
    font-size: 14px;
}

.loader {
    animation: spin 2s linear infinite;
    border: 8px solid #f3f3f3; /* Light grey */
    border-top: 8px solid #3498db; /* Blue */
    border-radius: 50%;
    height: 70px;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 70px;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}